.form-control {
width: 500px;
height: auto;
outline
}

.btn-primary {
--bs-btn-bg: rgb(127, 167, 123);
--bs-btn-border-color: rgb(127, 167, 123);
--bs-btn-hover-bg: rgb(165, 203, 156);
--bs-btn-hover-border-color: rgb(127, 167, 123);
--bs-btn-focus-shadow-rgb: rgb(165, 203, 156);
--bs-btn-active-color: rgb(165, 203, 156);
--bs-btn-active-bg: rgb(165, 203, 156);
--bs-btn-active-border-color: rgb(165, 203, 156);
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: rgb(165, 203, 156);
--bs-btn-disabled-bg: rgb(165, 203, 156);
--bs-btn-disabled-border-color: rgb(165, 203, 156);
}
body {
background-color: rgb(50,95,73);
color: rgb(241, 235, 221);
font-family: Optima;
text-align: center;
padding-bottom: 0px;
padding-top: 20px;
}

h1 {
padding-top: 5px;
padding-bottom: 30px;
text-align: center;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
