.form-control {
width: 500px;
height: auto;
}

body {
background-color: rgb(50,95,73);
color: rgb(241, 235, 221);
font-family: Optima;
text-align: center;
padding-bottom: 0px;
padding-top: 20px;
}

h1 {
padding-top: 5px;
padding-bottom: 30px;
text-align: center;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
