<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your perfect Bollywood film!!</title>
</head>
<body>

<select name="period" id="period">
    {% for period in periodOptions %}
    <option> {{period}} </option>
    {% endfor %}
</select>

<select name="genre" id="genre">
    {% for genre in genreOptions %}
    <option> {{genre}} </option>
    {% endfor %}
</select>

<select name="actor" id="actor">
    {% for actor in actorOptions %}
    <option> {{actor}} </option>
    {% endfor %}
</select>

<select name="director" id="director">
    {% for director in directorOptions %}
    <option> {{director}} </option>
    {% endfor %}
</select>


<button type="show results" >hello there</button>

</body>
</html>