<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finding your perfect Bollywood film!!</title>
</head>
<body>
<h1>Finding your perfect Bollywood film!!</h1>
<p>Have you ever felt like settling down on your couch after a long day of work to watch a Bollywood
    film, but were overwhelmed by your options? We have a solution! Simply enter your preferred
    genre, actor, and director, and we will filter films for you!</p>

<select name="period" id="period">
    {% for period in periodOptions %}
    <option> {{period}} </option>
    {% endfor %}
</select>

<select name="genre" id="genre">
    {% for genre in genreOptions %}
    <option> {{genre}} </option>
    {% endfor %}
</select>

<select name="actor" id="actor">
    {% for actor in actorOptions %}
    <option> {{actor}} </option>
    {% endfor %}
</select>

<select name="director" id="director">
    {% for director in directorOptions %}
    <option> {{director}} </option>
    {% endfor %}
</select>


<button type="show results" >hello there</button>

</body>
</html>